*{box-sizing: border-box;}
body{
    height: 100%;
    min-height: 100vh;
    background-color: hsl(263, 48%, 87%);
    margin: 0pc;
    padding: 1pc;
    overflow: auto;
}
#menu{
    position: relative;
    padding: 0.5pc 0pc;
    margin: 0pc;
}
#menu>li{
    display: inline;
    padding: 0.5pc 1pc;
    background-color: hsl(263, 48%, 93%);
    border-radius: 0.5pc 0.5pc 0pc 0pc;
}
#menu>li.menucheck{background-color: white}
#menu>li:not(.menucheck):hover{background-color: hsl(0, 0%, 97%)}

article{
    background-color: white;
    padding: 1pc;
}
article:not(.activeArticle){display: none;}
article>.titleName{
    margin: 0pc 0pc 1pc;
    padding: 0.25pc;
}

.label{
    margin: 1pc 0pc 0.5pc;
    padding: 0.2pc;
}
.inputDetail{
    width:100%;
    min-height: 2pc;
    padding: 0.5pc;
    font-family: Arial, Helvetica, sans-serif;
}
textarea.inputDetail{
    height: 8pc;
    resize: none;
}

.imageUpload{
    flex: 0 0 300px;
    border: 2px solid hsl(0, 0%, 87%);
}
article .imageUpload{margin-left: 1pc;}
.imageSubmit{padding: 0.5pc;}
.imageSubmit>div:nth-child(2){
    display: inline-block;
    padding-left: 0.25pc;
    font-size: 0.8em;
}

article .submitArea{margin-top: 1pc;}
.submitArea>.btn{
   padding: 0.5pc 1pc;
   border: none;
   border-radius: 0.25pc;
   font-size: 1em;
}
.submitArea>.btn:hover{background-color: hsl(0, 0%, 87%);}
.submitArea>.btn.submit{background-color: hsl(263, 48%, 87%) !important;}
.submitArea>.btn.submit:hover{background-color: hsl(263, 48%, 80%) !important;}
.submitArea>.btn.cancel{float: right !important;}

#searchArticle .btn{
    flex: 0 0 auto;
    border: 1px inset rgba(0, 0, 0, 0.18);
    width: 2.3pc;
    height: 2.3pc;
    background-color: white;
}
#searchArticle .btn:hover{background-color: hsl(0, 0%, 87%);}
#searchForm{
    border: 1px inset rgba(0, 0, 0, 0.18);
    border-left: none;
}

#listContainer{
    background-color: hsl(0, 0%, 93%);
    margin-top: 1pc;
    position: relative;
}
#listContainer>#tokenlist{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
#tokenlist>.token{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.5pc;
    border: 2px solid hsl(0, 0%, 87%);
}
#tokenlist>.token:not(:first-child){border-top:none !important;}
.token>*{flex:auto;}
.token>*:not(:last-child){margin-right: 0.5pc;}
.token>img{
    flex: 0 0 3.5em;
    height: 3.5em;
    /* border: 2px solid hsl(0, 0%, 87%); */
}
.token>.textgroup>div:first-child{display: flex;align-items: center;}
.token .text{
    padding: 0.25pc;
    word-break: keep-all;
}
.token .text.name{
    font-size: 1.1em;
    font-weight: 700;
    /* flex-grow: 1; /* .rent, .count 를 우측정렬할 경우 */
}
.token .text.name+div{margin-left: 0.7pc;}
.token .text.rent,.token .text.count{font-size: 0.8em;}
.token>.btn{
    flex: 0 0 2pc;
    border: none;
    background-color: white;
    align-self: stretch;
}
.token>.btn:hover{background-color: hsl(0, 0%, 95%);}

#overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: hsla(0, 0%, 0%, 0.5);
    overflow: auto;
}
#overlay>.stat{
    background-color: white;
    padding: 1pc;
    height: fit-content;
    width: 55%;
    margin: auto;
}
#overlay .inputArea{flex-direction: column;}
#overlay .imageUpload{
    flex: 0 0 206px !important;
    margin-top: 1pc;
}

.stretchContainer{
    display: flex;
    flex-direction: column;
}
.stretchContainer>*:first-child{flex: 0 0 auto;}
.stretchContainer>*:first-child~*{flex: auto;}

.equalContainer{display: flex;}
.equalContainer>*:first-child{flex: auto;}

.centerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=button],button{cursor: pointer;}

@media only screen and (max-width: 600px) {
    .inputArea{flex-direction: column;}
    .imageUpload{
        margin: 0pc !important;
        margin-top: 1pc !important;
    }
    #overlay>.stat{width:100%;}
}
@media only screen and (min-width: 1080px) {
    .imageUpload{flex: 0 0 550px !important;}
}